.header__logo {
    display: flex;
    margin: 41px 0 41px 0;
    max-width: 142px;
}

@media screen and (max-width: 879px) {
    .header__logo{
    max-width: 103.74px;
    margin: 28px 0 31.6px 27px;
    }
}